body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 50px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 15rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 15rem;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  button {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 16px 16px 16px;
  color: #313131;
  font-size: 24px;
  font-weight: 300;
  transition: 0.2s ease-out;

  }

  button:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 5px solid #00f2ff;
  }

  button:focus{
    background-color: rgba(255, 255, 255, 0.6);
}

.player-tag {
  padding-bottom: 10px;
  color: black;
  outline: none;
  border-bottom: 3px solid black;
  border-color: #00f2ff;
  border-radius: 16px 16px 16px 16px;
}


